<div class="story img-rounded">
<p>
  once upon a time there was a little monster who was called peppy.
  now peppy was no ordinary monster.  peppy well.. she was friendly, smiley and smart.  thats not to say that all monsters were like peppy.
  for example, grumble monster was grumpy and always hungry.  he was also peppys older brother.

  our story begins on one fine day of the summer holidays.  peppy was enjoying her morning playing in the swimming pool.
  suddenly she saw a small golden fish ! ... "how could there be a fish in the swimming pool ?" said peppy.
  "I wonder how it got here ?"

  she quickly got out of the swimming pool to tell her mother who was a little grumpy that day.
  "stop making up stories peppy!  we have a busy day ahead of us.  now hurry up and get changed!"
  well, she thought, at least she had tried to tell her mother about what she saw ... or was it a dream?

  peppy often day dreamed.  maybe she was just using her imagination a little too much that day.

  the next day, peppy went to a library and found a book about golden fish!
</p>
</div>