
<div class="card border-secondary mb-3" style="max-width: 20rem; margin:5px">
  <div class="card-header">Ariel</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <img style="height: 200px; width: 100%; display: block;" src="/assets/ariel.png" />
    </p>
  </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 20rem; margin:5px">
  <div class="card-header">Uma</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <img style="height: 200px; width: 100%; display: block;" src="/assets/uma.png" />
    </p>
  </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 20rem; margin:5px">
  <div class="card-header">Ursla</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <img style="height: 200px; width: 100%; display: block;" src="/assets/ursula.png" />
    </p>
  </div>
</div>
<div class="card border-secondary mb-3" style="max-width: 20rem; margin:5px">
  <div class="card-header">Daddy</div>
  <div class="card-body">
    <h4 class="card-title"></h4>
    <p class="card-text">
      <img style="height: 200px; width: 100%; display: block;" src="/assets/picture-of-me.png" />
    </p>
  </div>
</div>